@use "./generalStyles" as gs;

.btn {
	border: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	box-shadow: 0 5px 10px gs.$color-gray-light;
	color: gs.$color-white;
	margin: 12px auto;
	height: 60px;
	width: 320px;
	transition: background-color 1s ease;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;

	@include gs.mmax-width;
}

.btn:hover {
	cursor: pointer;
}

.btn--ios {
	background-color: gs.$color-strong-cyan;
}

.btn--mac {
	background-color: gs.$color-light-blue;
}

.btn--ios:hover {
	background-color: gs.$color-white;
	color: gs.$color-strong-cyan;
	font-size: 1.2rem;
}

.btn--mac:hover {
	background-color: gs.$color-white;
	color: gs.$color-light-blue;
	font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
	.btn {
		width: 240px;
		height: 50px;
		margin: 0 5px;
	}
}
