@use "./generalStyles" as gs;

.section__clipboard {
	min-width: gs.$min-width;
	margin: 8rem auto;
	text-align: center;

	.section__clipboard-title {
		font-size: 1.7em;
	}

	.text--paragraph {
		margin-bottom: 24px;
	}
}
