.section__clipboard {
  max-width: 375px;
  margin: 7.5rem auto 0 auto;
  text-align: center;

  .section__clipboard-title {
    font-size: 1.7em;
  }

  .text--paragraph {
    margin-bottom: 24px;
  }
}