@use "./footerIcons";
@use "./generalStyles" as gs;

.footer {
	min-width: gs.$min-width;
	margin: 2rem auto 0 auto;
	text-align: center;
	background-color: gs.$color-footer;

	@include gs.mmax-width;

	.footer__img {
		width: 18%;
		padding: 1.2rem 0;
		margin-top: 2rem;
	}

	.footer__ul {
		list-style: none;

		.footer__list {
			padding: 0.5rem;

			.footer__link {
				text-decoration: none;
			}

			.footer__link:hover {
				color: gs.$color-grayish-blue;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.footer {
		.footer-content {
			display: flex;
			margin: 0 auto;
			width: 80%;

			.footer__img {
				width: 82px;
				height: fit-content;
				margin: 2rem 6em 2rem 0;
				padding-right: 2rem;
			}

			.footer__ul {
				margin: auto auto auto 0;
				max-width: 560px;
				display: flex;
				justify-content: flex-start;
				flex-flow: row wrap;
				align-items: flex-start;
				align-content: center;

				.footer__list {
					display: flex;
					padding: 0.5rem 3.6rem 0.5rem 0;

					.footer__link {
						display: flex;
						justify-content: flex-start;
						line-height: 20px;
						width: 118px;
					}
				}
			}
		}
	}
}
