.footer__container-icons {
	padding: 2.2rem 0;

	.footer__icons {
		text-align: center;
		padding: 0 20px;
	}

	.footer__icons:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 600px) {
	.footer__container-icons {
		height: min-content;
		display: flex;
		flex-direction: row;
		padding: 3.5em 0;

		.footer__icons {
			display: flex;
			flex-direction: row;
			padding: 0 10px;
		}
	}
}
