@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);
$color-white: #fff;
$color-gray-light: #ccc;
$color-black: #000;
$color-footer: #eee;
$color-attribution: hsl(228, 45%, 44%);

$font-size: 18px;
$font-family: 'Bai Jamjuree', sans-serif;
$min-width: 375px;
$max-width: 1440px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: $font-size;
	font-family: $font-family;
	color: $color-dark-grayish-blue;
}

@mixin mmax-width {
	max-width: $max-width;
}
