@use "./generalStyles" as gs;

.info__snippets {
	min-width: gs.$min-width;
	margin: 10rem auto 0 auto;
	text-align: center;

	@include gs.mmax-width;

	.info__snippets-title {
		font-size: 28px;
		color: gs.$color-dark-grayish-blue;
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 650px) {
	.text--paragraph {
		max-width: 740px;
	}
}
