@use "./generalStyles" as gs;

.info__functionality {
	min-width: gs.$min-width;
	margin: 4.5rem auto 0 auto;
	text-align: center;

	.info__functionality-img {
		width: 90%;
		object-fit: cover;
		margin-bottom: 3rem;
	}

	.info__functionality-article {
		margin-bottom: 24px;
		width: 100%;
		margin: 0 auto;

		.info__functionality-title {
			font-size: 1.15em;
		}
	}
}

@media screen and (min-width: 800px) {
	.info__functionality {
		display: flex;
		text-align: start;

		.info__functionality-content-img {
			width: 60% !important;
			float: left;
		}

		.info__functionality-content-articles {
			float: right;
			display: flex;
			flex-direction: column;
			width: 40%;

			.info__functionality-article {
				margin: 2.2rem auto;

				.info__functionality-title {
					padding: 0 14px;
				}

				.text--paragraph {
					max-width: 65%;
					margin-left: 0;
				}
			}
		}
	}
}
