@use "./generalStyles" as gs;
$margin-bottom: 1.9rem;

.info__characteristic {
	min-width: gs.$min-width;
	margin: 1.2rem auto 0 auto;
	text-align: center;

	.info__characteristic-article {
		margin-bottom: $margin-bottom;

		.info__characteristic-icon {
			margin-bottom: $margin-bottom;
		}

		.info__characteristic-title {
			font-size: 20px;
		}
	}
}

@media screen and (min-width: 600px) {
	.info__characteristic {
		display: flex;
		align-items: baseline;

		.info__characteristic-article {
			max-width: 420px;
			margin: 0 auto;
		}
	}
}
