@use "./generalStyles" as gs;

.logos__companies {
	min-width: gs.$min-width;
	margin: 7rem auto 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;

	@include gs.mmax-width;

	.logos__companies-icon {
		width: 65%;
		height: min-content;
		padding: 50px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 600px) {
	.logos__companies {
		display: flex;
		flex-flow: row wrap;

		.logos__companies-icon {
			max-width: 200px;
		}
	}
}
