@use "./generalStyles" as gs;

.logos__companies {
	min-width: gs.$min-width;
	margin: 7rem auto 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;

	.logos__companies-icon {
		width: 65%;
		padding: 50px;
		margin: 0 auto;
	}
}
