@use "./generalStyles" as gs;

.show__device {
	min-width: gs.$min-width;
	margin: 7rem auto 0 auto;
	text-align: center;

	.show__device-article {
		margin-bottom: 3rem;

		.show__device-title {
			font-size: 1.7em;
		}
	}

	.show__device-img {
		width: 90%;
		margin-bottom: 4rem;
	}
}

@media screen and (min-width: 600px) {
	.show__device {
		margin-top: 5rem;

		.show__device-article {
			margin-bottom: 2rem;
		}

		.show__device-img {
			max-width: 55%;
			margin-bottom: 2rem;
		}
	}
}
