.show__device {
  max-width: 375px;
  margin: 8rem auto 0 auto;
  text-align: center;
  
  .show__device-article {
    margin-bottom: 3rem;
    
    .show__device-title {
      font-size: 1.7em;
    }  
  }

  .show__device-img {
    width: 90%;
    margin-bottom: 4rem;
  }
  
}