@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

.btn {
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0 5px 10px #ccc;
  color: #fff;
  margin: 12px auto;
  height: 60px;
  width: 320px;
}

.btn--ios {
  background-color: #26baa4;
}

.btn--mac {
  background-color: #6173ff;
}

.text--paragraph {
  color: #ccc;
  line-height: 30px;
  padding: 16px 12px;
}

.header__app {
  min-width: 375px;
  margin: 0 auto;
  text-align: center;
}
.header__app .header__app-background {
  background-image: url(../../../public/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 20px 0;
}
.header__app .header__app-background .header__app-img {
  width: 90px;
  margin: 60px 0 40px 0;
}
.header__app .header__app-title {
  font-size: 2.1rem;
  color: #4c545d;
  font-weight: 800;
}

@media screen and (min-width: 650px) {
  .text--paragraph {
    margin: 0 auto;
    max-width: 650px;
  }
}
.info__snippets {
  min-width: 375px;
  margin: 10rem auto 0 auto;
  text-align: center;
}
.info__snippets .info__snippets-title {
  font-size: 28px;
  color: #4c545d;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .text--paragraph {
    max-width: 740px;
  }
}
.info__functionality {
  min-width: 375px;
  margin: 4.5rem auto 0 auto;
  text-align: center;
}
.info__functionality .info__functionality-img {
  width: 90%;
  object-fit: cover;
  margin-bottom: 3rem;
}
.info__functionality .info__functionality-article {
  margin-bottom: 24px;
  width: 100%;
  margin: 0 auto;
}
.info__functionality .info__functionality-article .info__functionality-title {
  font-size: 1.15em;
}

@media screen and (min-width: 800px) {
  .info__functionality {
    display: flex;
    text-align: start;
  }
  .info__functionality .info__functionality-content-img {
    width: 60% !important;
    float: left;
  }
  .info__functionality .info__functionality-content-articles {
    float: right;
    width: 40%;
  }
  .info__functionality .info__functionality-content-articles .info__functionality-article {
    margin: 2.2rem auto;
  }
  .info__functionality .info__functionality-content-articles .info__functionality-article .info__functionality-title {
    padding: 0 14px;
  }
  .info__functionality .info__functionality-content-articles .info__functionality-article .text--paragraph {
    max-width: 65%;
    margin-left: 0;
  }
}
.show__device {
  min-width: 375px;
  margin: 7rem auto 0 auto;
  text-align: center;
}
.show__device .show__device-article {
  margin-bottom: 3rem;
}
.show__device .show__device-article .show__device-title {
  font-size: 1.7em;
}
.show__device .show__device-img {
  width: 90%;
  margin-bottom: 4rem;
}

@media screen and (min-width: 600px) {
  .show__device {
    margin-top: 5rem;
  }
  .show__device .show__device-article {
    margin-bottom: 2rem;
  }
  .show__device .show__device-img {
    max-width: 55%;
    margin-bottom: 2rem;
  }
}
.info__characteristic {
  min-width: 375px;
  margin: 1.2rem auto 0 auto;
  text-align: center;
}
.info__characteristic .info__characteristic-article {
  margin-bottom: 1.9rem;
}
.info__characteristic .info__characteristic-article .info__characteristic-icon {
  margin-bottom: 1.9rem;
}
.info__characteristic .info__characteristic-article .info__characteristic-title {
  font-size: 20px;
}

.logos__companies {
  min-width: 375px;
  margin: 7rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.logos__companies .logos__companies-icon {
  width: 65%;
  padding: 50px;
  margin: 0 auto;
}

.section__clipboard {
  min-width: 375px;
  margin: 8rem auto;
  text-align: center;
}
.section__clipboard .section__clipboard-title {
  font-size: 1.7em;
}
.section__clipboard .text--paragraph {
  margin-bottom: 24px;
}

.footer__container-icons {
  padding: 2.2rem 0;
}
.footer__container-icons .footer__icons {
  text-align: center;
  padding: 0 20px;
}

.footer {
  min-width: 375px;
  margin: 2rem auto 0 auto;
  text-align: center;
  background-color: #eee;
}
.footer .footer__img {
  width: 18%;
  padding: 1.2rem 0;
  margin-top: 2rem;
}

.footer__ul {
  list-style: none;
}
.footer__ul .footer__list {
  padding: 0.5rem 0;
}
.footer__ul .footer__list .footer__link {
  text-decoration: none;
  color: #000;
}

/*# sourceMappingURL=index.css.map */
